.about{
    background-color: $secondary-color;
}
.about-me{
    display: flex;
    
}
.picture{
    width: 300px;
}
.info {
    padding: 20px;
   margin-left: 20%;
   &__button{
       &::after{
           display: none;
       }
   }
}
@media only screen and (max-width: $tablet-width) {
    .about-me{
        flex-direction: column;
        align-items: center;
    }
    .picture{
        width: 50%;
    }
    .info{
        text-align: center;
        margin-left: 0;
    }
}