.footer{
    background-color: $secondary-color;
    padding-top: 105px;
    padding-bottom: 80px;
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-nav{
        text-align: center;
        &__item{
            min-width: 55px;
            margin-right: 60px;
            &:nth-last-of-type(1){
                margin-right: 0;
            }
            
        }
    }
    &__social{
        width: 50%;
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    &__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55px;
        height: 55px;
        background-color: $main-color;
        border-radius: 50%;
        transition: 0.3s;
        &:nth-last-of-type(1){
            margin-right: 0;
        }
        &:hover{
            background-color: $blue-color;
            .footer__logo{
                path{
                    fill: white;
                }
            }
        } 
    }
    &__logo{
        path{
            fill: #A7A7A7;
        }
    }
    &__bottom{
        margin-top: 70px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
@media only screen and (max-width: $max-mobile-width) {
    .footer{
        &__bottom{
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .main-nav{
            text-align: center;
            &__item{
                margin-right: 10px;
                &:nth-last-of-type(1){
                    margin-right: 0;
                }
                
            }
        }
    }
}