.page-header{
    background-color: $secondary-color;
    // background: $secondary-color url('../../img/Bg.jpg')  no-repeat ;
    background-size: cover;
    padding:  100px 15px 20px 15px;
    min-height: calc(100vh - 100px);


}
.header{
    display: flex;
    justify-content: space-between;
    &__logo{
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 32px;
    }
}
.main-nav{
    display: flex;
    align-items: center;
    &__item{
        color: $text-color;
        margin-right: 65px;
        font-size: 20px;
    }
    a{
        transition: 0.5s;
        position: relative;
        line-height: 1;
        &::after{
          display: block;
          position: absolute;
          left: 0; 
          width: 0;
          height: 2px;
          background-color: $blue-color;
          content: "";
          transition: width 0.5s ease-out;
        }
        &:hover{
          color: $blue-color;
          cursor: pointer;
          &::after{
            width: 100%;
          }
        }
      }
}
.my-image{
    margin-top: 50px;
    display: block;
    width: 280px;
    height: 235px;
    border-radius: 5px;
}
.about-me{
    display: flex;
    position: relative;
}
.info {
    margin-left: auto;
    margin-right: 15%;
    margin-top: 15%;
   
   &__header{
       font-family: $font-raleway;
       font-weight: 300;
       font-size: 36px;
       margin: 0;
   }
   &__description {
       margin-top: 60px;
       margin-bottom: 60px;
       font-weight: bold;
       font-size: 48px;
   }
   &__about-me {
        font-family: $font-raleway;
        font-size: 16px;
        margin: 0;
        margin-bottom: 60px;
   }
   &__button{
       &::after{
           display: none;
       }
   }
}

@media only screen and (max-width: $max-mobile-width) {

}
@media only screen and (max-width: $tablet-width) {
    .header{
        flex-direction: column;
        align-items: center;
        &__logo{
            font-size: 26px;
        }
    }
    .main-nav {
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: center;
        &__item{
            margin-right: 10px;
            &:nth-last-of-type(1){
                margin-right: 0;
            }
        }
        &__button{
            margin-top: 20px;
            flex-basis: 100%;
            display: flex;
            justify-content: center;
        }
    }
    .page-header{
        background: $secondary-color;
    }
    .about-me{
        flex-direction: column;
        align-items: center;
    }
    .picture{
        width: 50%;
    }
    .info{
        text-align: center;
        margin: 0;
        margin-top: 20px;
    }
}