body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-family: $font-poppins;
  color: black;
  background-color: $main-color;
  position: relative;
}

.button{
  color: $blue-color;
  background-color: inherit;
  border: 2px solid $blue-color;
  padding: 15px 15px;
  border-radius: 20px;
  transition: 0.5s;
  font-size: 20px;
  &:hover{
    background-color: $blue-color;
    color: $main-color;
    cursor: pointer;
  }
}
a{
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  padding: 0 20px;
  position: relative;
}
.section--header{
  font-size: 50px;
  margin: 0 auto;
  margin-top: 135px;
  margin-bottom: 75px;
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media (max-width: 660px) {
  .container {
    width: auto;
  }
}
@media (max-width: 1200px) {
  .container {
    width: auto;
  }
}
.none {
  display: none;
}
