$main-color: #FAFAFA;
$secondary-color: #F4F4F4;
$blue-color: #1769FF;
$text-color: #212227;

$font-raleway: 'Raleway', sans-serif;
$font-poppins: 'Poppins', sans-serif;

$tablet-width: 660px;
$desktop-width: 1200px;
$max-mobile-width: 659px;
